
body {
    margin-top:40px;
    background: #ffffff;
    font-size: 11px;
}

body {
 font-size: 10px !important;
}

.right_tbl{
	border: 0.5px solid black;	
}

.tr{
	padding: 1px;
}

.form-holder{
    /*border: 1px solid #d9d9d9;
    margin-bottom: 10px;
    padding-top: 10px;*/
}

.table-borderless td,
.table-borderless tr,
.table-borderless th {
    border: none !important;
    padding-left: 0px !important;
    padding-right: 1px !important;
    height: 15px !important;
}

.details th,
.details td{
    text-align: center !important;   
}

.company-name{
    font-weight: bold;
    font-size: 14px;
}

.company-address{
    font-size: 12px;
}

.company-contact{
    font-size: 11px;
}

.title{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 30px 0px 20px 0px;
}

.table-no-padding th{
  padding: 4px 2px 6px 2px !important;
  text-align: center;
}

.table-no-padding td{
  padding: 2px 2px 2px 2px !important;
}

.main-category{
    background-color: #cccccc;
    font-weight: bold;
}

.image-holder{
    height: 100px;
}

.green-row{
    background-color: #cccccc;
}

.text-bold{
    font-weight: bold;
}

.cat-total{
  background-color: #e6e6e6;  
}

.bottom-border {
  border-bottom:2pt solid black !important;
}

.logo{
    width: 30%; 
    float: left;
}

.address{
    width: 70%;
    float: right;
}

.pre-ratio{
    width: 45%; 
    float: left;  
}
.ratio{
    width: 45%; 
    float: right;
}

.style-details{
    float: left;
    width: 75%
}

.style-details-1{
	float: left;
    width: 100%;
	margin-top: 10px;
}

.style-image{
    float: right;
    width: 25%;
    margin-bottom: 6px;
}

.ratio-title{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}

.bg-yellow{
    background-color: #f2f2f2 !important;
}

#mainDiv{
	margin: 0px;
	padding: 0px;
}

#tbl4,#tbl4 td {
  border: 0px solid black;
  font-size:9;
}

#listTbl, #listTbl tr td{
	padding: 4px;
	font-size:20px;
}

#sumTbl, #sumTbl tr td{
	padding: 4px;
	font-size:20px;
}


#desTbl1{
	width: 40%;	
}

#desTbl2{
	width: 30%;
}

#desTbl3{
	width: 30%;
}


.tbl1 {
  border-collapse: collapse;
}

.tbl1,.tbl1 td {
  border: 1px solid black;
  font-size:12;
}

.tbl1,.tbl1 td {
  border: 1px solid black;
}

/*@php 
$bg_color = '';
@endphp

@if($detail->revision_no==$pre_version)


@endif
*/